{
  order forward_proxy before file_server
}

proxy.lab:443 {
  tls /etc/naiveproxy/server.crt /etc/naiveproxy/server.key 

  forward_proxy {
    basic_auth user test
    hide_ip
    hide_via
    probe_resistance
  }
}
